@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    color: #333;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}