@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* color: #333; */
    color: #373636;
    font-family: 'Quicksand', sans-serif;
    /* background-color: #F2EFE8; */
    background: linear-gradient(to right, #F2EFE8 0%, #fff 100%);
    /* background-color: #8B1ADC; */
    /* background-color: #8B1ADC; */
    /* background-color: #E7E7E5; */
    /* background-color: #373636; */
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #333; */
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}