@media (min-width: 768px) {
    .aboutContainer {
        /* border: 1px solid black; */
        padding: 40px 0;
        min-height: 100vh;
        /* text-align: center; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .aboutBox {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
        /* background-color: #252628; */
        /* background-color: #2B3648; */
        background-color: #38393B;    
    }

    .profilImage {
        display: flex;
        width: 20%;
    }
    
    .profilImage img {
        border-radius: 500px;
        width: 100%;
    }
}