@media (min-width: 768px) {
    /* .container {
        min-height: 100vh;
        width: 100%;
        position: fixed;
        min-height: 110vh;
        z-index: -10;
    } */

    /* .box1 {
        width: 100%;
        min-height: 110vh;
        background-color: red;
        z-index: -10;
    }

    .box2 {
        width: 100%;
        min-height: 110vh;
        background-color:blue;
        z-index: -10;
    }

    .box3 {
        width: 100%;
        min-height: 110vh;
        background-color: yellow;
        z-index: -10;
    } */
}
