@media (min-width: 768px) {
    .contactContainer {
        border: 1px solid black;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}