/* mobil layout */
.headerBox {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    opacity: 0.7;
    height: 3rem;
    background-color: #252628;
}

.mobilNav {
    margin-left: 1rem;
}

.headerBox ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    list-style: none;
    background: rgba(7, 7, 7, 0.5);
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.headerBox li a {
        color: white;
        margin: 0;
        padding: 0;
}

/* .contact {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 11;
    margin: 5px;
}

a {
    color: #3d3d3d;
}

i:hover {
    cursor: pointer;
}

.fa-linkedin {
    font-size: 27px;
    opacity: 0.6;
    padding: 7px;
}

.fa-github {
    font-size: 25px;
    opacity: 0.6;
    padding: 7px;
}

.fa-envelope {
    font-size: 24px;
    opacity: 0.6;
    padding: 7px;
} */

/* desktop layout */
@media (min-width: 768px) {
    .headerBox {
        display: flex;
        justify-content: center;
        align-items: unset;
        height: unset;
        padding: 10px;
        background-color: #252628;
    }

    .headerBox ul {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        position: unset;
        width: unset;
        margin: unset;
        padding: unset;
        background: unset;
    }

    .headerBox ul li {
        margin: 25px;
        font-size: 18px;
    }

    .headerBox ul li a {
        position: relative;
        color: white;
        text-decoration: none;
    }

    .headerBox ul li a:hover {
        color: white;
    }

    .headerBox ul li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #8B1ADC;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    .headerBox ul li a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .mobilNav {
        margin-left: none;
    }
}