/* mobil layout */
.header {
    /* border: 1px solid black; */
    display: none;
}

/* desktop layout */
@media (min-width: 768px) {
    .headerBox {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: #252628;
        opacity: 0.7;
        /* background-color: #F2EFE8; */
        /* background-color: #131415; */
        /* background-color: #38393B;
        opacity: 0.7; */
        /* box-shadow: 0px 3px 4px 0px #b1aeae; */
    }

    .headerBox ul {
        display: flex;
        align-items: center;
    }

    .headerBox ul li {
        margin: 25px;
        font-size: 18px;
    }

    .headerBox ul li a {
        /* color: #8B1ADC; */
        color: white;
        font-size: 20px;
        font-weight: bolder;      
    }
}