@media (min-width: 768px) {
    .homeContainer {
        /* border: 1px solid black; */
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .homeBox {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .homeImage {
        width: 80%;
    }
    
    .homeColumn1,
    .homeColumn2 {
        width: 100%;
    }

    .homeColumn1 {
        display: flex;
        justify-content: center;
    }

    .homeColumn2 {
        display: flex;
        justify-content: center;
    }
}