@media (min-width: 768px) {
    .homeContainer {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .homeImage {
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
    }
    
    .homeColumn1,
    .homeColumn2 {
        /* border: 1px solid black; */
        width: 100%;
    }
}