@media (min-width: 768px) {
    .homeContainer {
        /* border: 1px solid black; */
        min-height: 100vh;
        display: flex;
        align-items: center;
        /* background-color: #8B1ADC; */
        color: white;
        background-color: #8B1ADC;
        background: linear-gradient(to right, #252628 0%, #8B1ADC 100%);
        /* background-image: url("/images/home-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        z-index: -10; */
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
        /* opacity: 0.5; */
    }

    .homeBox {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 15%;
    }

    .logo img {
        width: 100%;
    }

    .homeImage {
        width: 80%;
    }
    
    .homeColumn1,
    .homeColumn2 {
        width: 100%;
    }

    .homeColumn1 {
        display: flex;
        justify-content: center;
    }

    .homeColumn2 {
        display: flex;
        justify-content: center;
    }
}